.movieCardList {
    display: flex;
    flex-direction: column;
  }
  
  .movieCardList__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    column-gap: 20px;
    row-gap: 33px;
    justify-content: center;
    padding: 70px 70px 10px;
    margin: 0;
  }
  
  @media screen and (max-width: 769px) {
    .movieCardList__box{
      grid-template-columns: repeat(auto-fill, 339px);
      column-gap: 30px;
      row-gap: 26px;
      justify-content: center;
      padding: 70px 30px 50px 30px;
     
    }
  }
  
  @media screen and (max-width: 425px) {
    .movieCardList__box {
      grid-template-columns: 300px;
      row-gap: 31px;
      justify-content: center;
      padding: 40px 0 41px;
    }
  }